{% extends "layouts/main.html" %}

{% block pageTitle %}
  How would you like us to contact you? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/contact-details" method="post">

        <div class="govuk-form-group">
          {{ govukCheckboxes({
            idPrefix: "contact-preference",
            name: "contact-preference",
            fieldset: {
              legend: {
                text: "How would you like us to contact you?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "email",
                text: "Contact me by email",
                conditional: {
                  html: govukInput({
                    id: "email",
                    name: "email",
                    label: {
                      text: "Give your email address"
                    }
                  })
                }
              },
              {
                value: "phone",
                text: "Contact me by phone",
                conditional: {
                  html: govukInput({
                    id: "phone",
                    name: "phone",
                    label: {
                      text: "Give your phone number"
                    }
                  })
                }
              }
            ]
          }) }}
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
